NEXT_PUBLIC_GOOGLE_ANALYTICS=some-code
NEXT_PUBLIC_NODE_ENV=dev
NEXT_PUBLIC_MIXPANEL_KEY=some-code
NEXT_PUBLIC_HIGHLIGHT_PROJECT_ID=code

NEXT_PUBLIC_GROWTHBOOK_API_ENDPOINT=some-endpoint
NEXT_PUBLIC_GROWTHBOOK_CLIENT_KEY=some-key
NEXT_PUBLIC_GROWTHBOOK_API_HOST=https://cdn.growthbook.io