@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

video {
    max-width: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fadeinDown {
    -webkit-animation: fadeInDown 500ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInDown 500ms ease-in-out;
}

.video-fit > video {
    object-fit: cover;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeinUp {
    -webkit-animation: fadeInUp 500ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInUp 500ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-blur-red {
    width: 344px;
    height: 344px;
    background: #b73e32;
    filter: blur(200px);
}

.hero-blur-blue {
    width: 344px;
    height: 344px;
    background: #5f2bce;
    filter: blur(200px);
}

.sticky-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.sticky-1 {
    background: linear-gradient(
        223.86deg,
        #7264eb 2.16%,
        #5925c8 34.38%,
        #c83325 64.12%,
        #f3887e 97.34%
    );
}

.sticky-2 {
    background: linear-gradient(
        43.82deg,
        #cbc6f9 0%,
        #733fe1 33.85%,
        #df5446 65.09%,
        #ffada5 100%
    );
}

.sticky-3 {
    background: linear-gradient(
        43.82deg,
        #cac7e4 0%,
        #ab8eec 28.4%,
        #dd837a 65.1%,
        #ecd0cd 100%
    );
}

.sticky-1.animate,
.sticky-2.animate,
sticky-3.animate {
    transition: background 0.25s ease-out;
}

.box {
    position: fixed;
    top: 64px;
    right: 0;
    width: 50vw;
    height: calc(100vh - 64px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
